:root{
    --bg: #068755;
    --color: #000;
    --second: #a4e8ff;
}

html{
    background-color: var(--bg);
    color: var(--color);
    font-size: 16px;
    /* 1rem = 16px teraz */
}



h1{
    font-size: 1.2rem;
}



a{
    text-decoration: none;
    color: var(--color);
}
a:visited{
    text-decoration: none;
    color: var(--color);
}
a:hover{
    text-decoration: none;
    color: var(--second);
}
a:active{
    text-decoration: none;
    color: var(--second);
}




.buttons{
    width: fit-content;
    padding: 0.3rem 0.7rem;
    border: 1px dashed var(--second);
    margin: auto;
    border-radius: 20px;
    letter-spacing: 1px;
    background-color: var(--bg);
    color: var(--color);
    display: block;
}
.buttons:hover{
    transform: scale(0.96);
    cursor: pointer;
    color: var(--color);
}
.buttons:active{
    border: 1px solid var(--color);
    color: var(--color);
}
.buttons-main-nav{
    font-size: 1.15rem;
    padding: 0.5rem 0;
    text-align: center;
    width: 50vw;
    letter-spacing: 2px;
    margin: 3vh auto;
}